<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>splashlogo_5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>230</integer>
			<key>height</key>
			<integer>236</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>250</integer>
			<key>originalHeight</key>
			<integer>250</integer>
		</dict>
		<key>splashlogo_4.png</key>
		<dict>
			<key>x</key>
			<integer>232</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>230</integer>
			<key>height</key>
			<integer>236</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>250</integer>
			<key>originalHeight</key>
			<integer>250</integer>
		</dict>
		<key>splashlogo_3.png</key>
		<dict>
			<key>x</key>
			<integer>463</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>230</integer>
			<key>height</key>
			<integer>236</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>250</integer>
			<key>originalHeight</key>
			<integer>250</integer>
		</dict>
		<key>splashlogo_2.png</key>
		<dict>
			<key>x</key>
			<integer>694</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>230</integer>
			<key>height</key>
			<integer>236</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>250</integer>
			<key>originalHeight</key>
			<integer>250</integer>
		</dict>
		<key>splashlogo_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>238</integer>
			<key>width</key>
			<integer>230</integer>
			<key>height</key>
			<integer>236</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>250</integer>
			<key>originalHeight</key>
			<integer>250</integer>
		</dict>
	</dict>
</dict>
</plist>